.coin{
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    background-color: silver;
    border: 3px solid gray;
    margin-right: 4px;
    margin-bottom: 4px;
}